body {
    color:crimson;
    background-color: rgba(21, 0, 255, 0.283);
    max-width:600px;
    margin:0 auto; 

}

p {
    color:blueviolet;
    font-size: 30px;
    background-color:hsla(59, 57%, 50%, 0.553);
    border: 1px solid;
    padding: 20px;
    margin: 10px auto;
    width: 600px;
    text-align: center;
    /* height: 300px; */
}

h1 {
    font-size: 50px;
}

p:hover{
    background-color: azure;
}

a {
   color:black;
    text-decoration: none;
}

a:hover {
    color:brown;
    text-decoration: line-through;
}

.special {
    font: size 25px;
}

.new{
    background-color: black;
}